# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html>
<html>
    <head>
        <link rel="manifest" href="/site.webmanifest">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Blinders</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <script src="zoom.js"></script>
    </head>
    <body>
        <h1>IS THIS YOU?</h1>
        <div class="gallery">
            <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2782.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2784.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2787.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2808.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2809.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2812.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2813.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2818.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2821.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2824.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2825.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2826.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2827.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2828.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2835.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2838.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2841.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2842.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2843.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2844.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2845.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2849.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2855.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2856.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2857.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2859.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2862.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2863.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2870.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2873.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2874.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2877.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2878.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2880.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2883.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2885.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2888.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2891.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2893.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2896.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2897.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4935.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4943.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4944.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4946.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4947.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4949.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4958.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4963.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4964.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4970.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4972.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4979.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4980.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4983.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4987.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4993.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_5001.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_5002.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_5003.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_5005.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_5006.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_5009.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_5010.jpeg" alt="">
              </div>
              
        </div>

        <div class="call-banner">
            <div class="call-banner-text"> CALL 213-626-9567 FOR YOUR PHOTO TODAY! </div> 
        </div>
    </body><!DOCTYPE html>
<html>
    <head>
        <link rel="manifest" href="/site.webmanifest">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Blinders</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <script src="zoom.js"></script>
    </head>
    <body>
        <h1>IS THIS YOU?</h1>
        <div class="gallery">
            <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2782.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2784.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2787.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2808.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2809.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2812.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2813.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2818.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2821.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2824.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2825.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2826.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2827.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2828.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2835.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2838.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2841.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2842.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2843.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2844.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2845.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2849.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2855.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2856.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2857.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2859.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2862.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2863.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2870.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2873.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2874.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2877.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2878.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2880.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2883.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2885.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2888.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2891.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2893.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2896.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_2897.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4935.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4943.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4944.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4946.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4947.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4949.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4958.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4963.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4964.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4970.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4972.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4979.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4980.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4983.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4987.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_4993.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_5001.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_5002.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_5003.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_5005.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_5006.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_5009.jpeg" alt="">
              </div>
              <div class="img-frame" onclick="zoomImage(this)">
                <img src="images/IMG_5010.jpeg" alt="">
              </div>
              
        </div>

        <div class="call-banner">
            <div class="call-banner-text"> CALL 213-626-9567 FOR YOUR PHOTO TODAY! </div> 
        </div>
    </body>
</html>

body{
    background-color: rgb(255, 246, 212); /* Set this to whatever u want */
}

h1{
    margin-top: 1vw;
    margin-left: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13vw;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    
    padding-left: 15vw;
    padding-right: 2rem;
  }
  

  .img-frame {
    overflow: hidden;
  
    flex: 1 1 calc(33.333% - 1.5rem);
    max-width: calc(33.333% - 1.5rem);
  }
  
  /* Responsive: 2 per row */
  @media (max-width: 900px) {
    .img-frame {
      flex-basis: calc(50% - 1.5rem);
      max-width: calc(50% - 1.5rem);
    }
  }
  
 
  .gallery {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12rem;
  }


  /* zoom hack */

  .img-frame {
    overflow: hidden;
    flex: 1 1 auto; 
  }

  .img-frame img {
    width: 100%;
    height: auto;
    transition: transform 0.4s ease;
    transform-origin: center;
  }
  
  .img-frame.zoomed img {
    transform: scale(4);
  }

  .call-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: #ffd900; /* loud yellow */
    color: #000;
  
    text-align: center;
    font-weight: 900;
    letter-spacing: 0.05em;
  
    padding: 1.2rem 1rem;
    font-size: clamp(1.2rem, 3vw, 2.5rem);
  
    z-index: 10000;
  }

  @keyframes blink {
    0%, 49% {
      opacity: 1;
    }
    50%, 100% {
      opacity: 0;
    }
  }
  
  .call-banner-text {
    animation: blink 2s infinite;
  }




